body {
    background: rgb(245, 235, 235);
    font-family: 'Times New Roman', Times, serif;
    margin: 40px;
}
h1 {
    color: #1b1919;
    text-align: center;
}
.projects {display: flex; flex-wrap: wrap;} /* Condensed to save space */
.projects {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: white;
    border-radius: 25%w;
}
.projects img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid rgb(126, 14, 201);
    display: block;
    margin: auto;
}
a {
    text-decoration: none;
    color: purple;
}
.projects p {
    text-align: center;
    margin: 15px;
}
.header {
    text-align: center;
    margin-bottom: 40px;
}
.header h1 {
    font-size: 40px;
    margin-bottom: 5px;
    color: #1b1919;
}
.header p {
    font-size: 20px;  
    text-align: center; 
}
.section-title {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}
.section-content h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 3px;
    margin-left: 5px;
}
.section-content p {
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 8px;
}
.section-content ul li {
    margin-bottom: 6px;
}
.skills {
    list-style: square;
    margin-top: 10px;
}
.section-content .company{
    font-size: 17px;
}