body {
    background: rgb(245, 235, 235);
    font-family: 'Times New Roman', Times, serif;
    margin: 40px;
}
h1 {
    color: rgb(94, 150, 165);
    text-align: center;
}
.projects {display: flex; flex-wrap: wrap;} /* Condensed to save space */
.projects {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: white;
    border-radius: 25%w;
}
.projects img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid rgb(126, 14, 201);
    display: block;
    margin: auto;
}
a {
    text-decoration: none;
    color: purple;
}
.projects p {
    text-align: center;
    margin: 15px;
}